@model IEnumerable<LibApp.Models.Book>

@{ ViewBag.Title = "Books";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Books</h2>

<p>
    <a class="btn btn-primary" asp-action="New">New Book</a>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th colspan="2">Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
<tr>
    <td><a asp-action="Edit" asp-route-id="@book.Id">@Html.DisplayFor(modelItem => book.Name)</a></td>
    <td>@Html.DisplayFor(modelItem => book.Genre.Name)</td>
    <td><a asp-action="Details" asp-route-id="@book.Id">Details</a></td>

</tr>}
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#books").DataTable({
                ajax: {
                    url: "api/books",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, book) {
                            return "<a href='books/Details/" + book.id + "'>" + book.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            @if(!User.IsInRole("User"))
                            {
                                <text>
                                    const deleteBtn = "<button class='btn btn-secondary js-delete' data-book-id=" + data + ">Delete</button>";
                                    return deleteBtn;
                                </text>
                            }
                            else
                            {
                                 <text>
                                    return null;
                                </text>
                            }
                        }
                    }
                ]
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var table = $("#books").DataTable();
            $("#books").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm({
                    title: "Delete book",
                    message: "Confirm book deletion?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "api/books/" + button.attr("data-book-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}